In [1]:
%config IPCompleter.greedy=True
import pandas as pd
import numpy as np

### <font color='darkblue'>Import the dataset</font>

In [2]:
accident_data_2017 = pd.read_csv('accident_2017.csv')
print(accident_data_2017.shape)
accident_data_2017.head()

(34247, 52)

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,1,1,73,...,99,99,99,88,88,0,0,0,1,0
1,1,10002,1,1,0,0,0,1,1,89,...,0,15,9,88,88,0,0,0,1,0
2,1,10003,3,3,0,0,0,3,3,101,...,99,99,99,88,88,0,0,0,1,0
3,1,10004,1,1,0,0,0,1,1,73,...,99,16,58,88,88,20,0,0,1,0
4,1,10005,1,1,0,0,0,2,2,13,...,17,20,31,21,11,0,0,0,1,0

### <font color='darkblue'>View the column names of the dataset </font>

In [3]:
accident_data_2017.columns

Index(['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'RUR_URB', 'FUNC_SYS',
       'RD_OWNER', 'ROUTE', 'TWAY_ID', 'TWAY_ID2', 'MILEPT', 'LATITUDE',
       'LONGITUD', 'SP_JUR', 'HARM_EV', 'MAN_COLL', 'RELJCT1', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'REL_ROAD', 'LGT_COND', 'WEATHER1', 'WEATHER2',
       'WEATHER', 'SCH_BUS', 'RAIL', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR',
       'ARR_MIN', 'HOSP_HR', 'HOSP_MN', 'CF1', 'CF2', 'CF3', 'FATALS',
       'DRUNK_DR'],
      dtype='object')

### <font color='darkblue'>Rename the column names to understandable titles</font>

In [4]:
accident_data_2017.columns = ['STATE_NUMBER',
                        'CONSECUTIVE_NUMBER',
                        'NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL',
                        'NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
                        'NUMBER_OF_PARKED_WORKING_VEHICLES',
                        'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES',
                        'NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
                        'NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
                        'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES',
                        'COUNTY','CITY',
                        'DAY_OF_CRASH',
                        'MONTH_OF_CRASH',
                        'YEAR_OF_CRASH',
                        'DAY_OF_WEEK',
                        'HOUR_OF_CRASH',
                        'MINUTE_OF_CRASH',
                        'NATIONAL_HIGHWAY_SYSTEM',
                        'LAND_USE',
                        'FUNCTIONAL_SYSTEM',
                        'OWNERSHIP',
                        'ROUTE_SIGNING',
                        'TRAFFICWAY_IDENTIFIER',
                        'TRAFFICWAY_IDENTIFIER_2',
                        'MILEPOINT',
                        'LATITUDE',
                        'LONGITUDE',
                        'SPECIAL_JURISDICTION',
                        'FIRST_HARMFUL_EVENT',
                        'MANNER_OF_COLLISION',
                        'RELATION_TO_JUNCTION_SPECIFIC_LOCATION1',
                        'RELATION_TO_JUNCTION_SPECIFIC_LOCATION2',
                        'TYPE_OF_INTERSECTION','WORK_ZONE',
                        'RELATION_TO_TRAFFICWAY',
                        'LIGHT_CONDITION',
                        'ATMOSPHERIC_CONDITIONS_1',
                        'ATMOSPHERIC_CONDITIONS_2',
                        'ATMOSPHERIC_CONDITIONS',
                        'SCHOOL_BUS_RELATED',
                        'RAIL_GRADE_CROSSING_IDENTIFIER',
                        'HOUR_OF_NOTIFICATION',
                        'MINUTE_OF_NOTIFICATION',
                        'HOUR_OF_ARRIVAL_AT_SCENE',
                        'MINUTE_OF_ARRIVAL_AT_SCENE',
                        'HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL',
                        'MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL',
                        'RELATED_FACTORS_CRASH_LEVEL_1',
                        'RELATED_FACTORS_CRASH_LEVEL_2',
                        'RELATED_FACTORS_CRASH_LEVEL_3',
                        'NUMBER_OF_FATALITIES',
                        'NUMBER_OF_DRUNK_DRIVERS']

In [5]:
accident_data_2017.columns

Index(['STATE_NUMBER', 'CONSECUTIVE_NUMBER',
       'NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL',
       'NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
       'NUMBER_OF_PARKED_WORKING_VEHICLES',
       'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES',
       'NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
       'NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT',
       'NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES', 'COUNTY',
       'CITY', 'DAY_OF_CRASH', 'MONTH_OF_CRASH', 'YEAR_OF_CRASH',
       'DAY_OF_WEEK', 'HOUR_OF_CRASH', 'MINUTE_OF_CRASH',
       'NATIONAL_HIGHWAY_SYSTEM', 'LAND_USE', 'FUNCTIONAL_SYSTEM', 'OWNERSHIP',
       'ROUTE_SIGNING', 'TRAFFICWAY_IDENTIFIER', 'TRAFFICWAY_IDENTIFIER_2',
       'MILEPOINT', 'LATITUDE', 'LONGITUDE', 'SPECIAL_JURISDICTION',
       'FIRST_HARMFUL_EVENT', 'MANNER_OF_COLLISION',
       'RELATION_TO_JUNCTION_SPECIFIC_LOCATION1',
       'RELATION_TO_JUNCTION_SPECIFIC_LOCATION2', 'TYPE_OF_INTERSECTION',
       'WORK_ZONE', 'RELATION_TO_TRAFFICWAY', 'LIGHT_CONDITION',
       'ATMOSPHERIC_CONDITIONS_1', 'ATMOSPHERIC_CONDITIONS_2',
       'ATMOSPHERIC_CONDITIONS', 'SCHOOL_BUS_RELATED',
       'RAIL_GRADE_CROSSING_IDENTIFIER', 'HOUR_OF_NOTIFICATION',
       'MINUTE_OF_NOTIFICATION', 'HOUR_OF_ARRIVAL_AT_SCENE',
       'MINUTE_OF_ARRIVAL_AT_SCENE', 'HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL',
       'MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL', 'RELATED_FACTORS_CRASH_LEVEL_1',
       'RELATED_FACTORS_CRASH_LEVEL_2', 'RELATED_FACTORS_CRASH_LEVEL_3',
       'NUMBER_OF_FATALITIES', 'NUMBER_OF_DRUNK_DRIVERS'],
      dtype='object')

In [6]:
accident_data_2017.head()

,STATE_NUMBER,CONSECUTIVE_NUMBER,NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL,NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT,NUMBER_OF_PARKED_WORKING_VEHICLES,NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES,NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT,NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT,NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES,COUNTY,...,MINUTE_OF_NOTIFICATION,HOUR_OF_ARRIVAL_AT_SCENE,MINUTE_OF_ARRIVAL_AT_SCENE,HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL,MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL,RELATED_FACTORS_CRASH_LEVEL_1,RELATED_FACTORS_CRASH_LEVEL_2,RELATED_FACTORS_CRASH_LEVEL_3,NUMBER_OF_FATALITIES,NUMBER_OF_DRUNK_DRIVERS
0,1,10001,1,1,0,0,0,1,1,73,...,99,99,99,88,88,0,0,0,1,0
1,1,10002,1,1,0,0,0,1,1,89,...,0,15,9,88,88,0,0,0,1,0
2,1,10003,3,3,0,0,0,3,3,101,...,99,99,99,88,88,0,0,0,1,0
3,1,10004,1,1,0,0,0,1,1,73,...,99,16,58,88,88,20,0,0,1,0
4,1,10005,1,1,0,0,0,2,2,13,...,17,20,31,21,11,0,0,0,1,0

### <font color='darkblue'>Code to drop columns</font>
<font>to_drop = ['STATE NUMBER',
           'CONSECUTIVE_NUMBER',
           'NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL',
           'NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT']

accident_data_2017.drop(to_drop, inplace=True, axis=1)</font>

### <font color='darkblue'>Looking for columns with NULL values</font>
<font> Only 1 column has NaN fields </font>

In [7]:
print(accident_data_2017.isnull().any().any())
print(accident_data_2017.isnull().any().sum())
print(accident_data_2017.isnull().sum())
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].isnull().any().sum())
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].isnull().sum())
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].value_counts())

True
1
STATE_NUMBER                                                       0
CONSECUTIVE_NUMBER                                                 0
NUMBER_OF_VEHICLE_FORMS_SUBMITTED_ALL                              0
NUMBER_OF_MOTOR_VEHICLES_IN_TRANSPORT_MVIT                         0
NUMBER_OF_PARKED_WORKING_VEHICLES                                  0
NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_NOT_IN_MOTOR_VEHICLES        0
NUMBER_OF_PERSONS_NOT_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT          0
NUMBER_OF_PERSONS_IN_MOTOR_VEHICLES_IN_TRANSPORT_MVIT              0
NUMBER_OF_FORMS_SUBMITTED_FOR_PERSONS_IN_MOTOR_VEHICLES            0
COUNTY                                                             0
CITY                                                               0
DAY_OF_CRASH                                                       0
MONTH_OF_CRASH                                                     0
YEAR_OF_CRASH                                                      0
DAY_OF_WEEK                                                        0
HOUR_OF_CRASH                                                      0
MINUTE_OF_CRASH                                                    0
NATIONAL_HIGHWAY_SYSTEM                                            0
LAND_USE                                                           0
FUNCTIONAL_SYSTEM                                                  0
OWNERSHIP                                                          0
ROUTE_SIGNING                                                      0
TRAFFICWAY_IDENTIFIER                                              0
TRAFFICWAY_IDENTIFIER_2                                        25102
MILEPOINT                                                          0
LATITUDE                                                           0
LONGITUDE                                                          0
SPECIAL_JURISDICTION                                               0
FIRST_HARMFUL_EVENT                                                0
MANNER_OF_COLLISION                                                0
RELATION_TO_JUNCTION_SPECIFIC_LOCATION1                            0
RELATION_TO_JUNCTION_SPECIFIC_LOCATION2                            0
TYPE_OF_INTERSECTION                                               0
WORK_ZONE                                                          0
RELATION_TO_TRAFFICWAY                                             0
LIGHT_CONDITION                                                    0
ATMOSPHERIC_CONDITIONS_1                                           0
ATMOSPHERIC_CONDITIONS_2                                           0
ATMOSPHERIC_CONDITIONS                                             0
SCHOOL_BUS_RELATED                                                 0
RAIL_GRADE_CROSSING_IDENTIFIER                                     0
HOUR_OF_NOTIFICATION                                               0
MINUTE_OF_NOTIFICATION                                             0
HOUR_OF_ARRIVAL_AT_SCENE                                           0
MINUTE_OF_ARRIVAL_AT_SCENE                                         0
HOUR_OF_EMS_ARRIVAL_AT_HOSPITAL                                    0
MINUTE_OF_EMS_ARRIVAL_AT_HOSPITAL                                  0
RELATED_FACTORS_CRASH_LEVEL_1                                      0
RELATED_FACTORS_CRASH_LEVEL_2                                      0
RELATED_FACTORS_CRASH_LEVEL_3                                      0
NUMBER_OF_FATALITIES                                               0
NUMBER_OF_DRUNK_DRIVERS                                            0
dtype: int64
1
25102
MAIN ST                27
7TH ST                 13
CENTRAL AVE            13
PARK AVE               10
10TH ST                10
4TH AVE                 9
3RD ST                  9
13TH ST                 9
WASHINGTON ST           9
29TH ST                 9
15TH ST                 9
6TH ST                  9
AIRPORT RD              8
COUNTY LINE RD          8
20TH ST                 8
CR-300                  8
5TH ST                  7
WALNUT ST               7
CENTER ST               7
SR-35                   7
SR-19                   7
16TH ST                 7
PALM AVE                7
9TH ST                  7
SR-7                    6
SR-23                   6
16TH AVE                6
BROADWAY                6
8TH ST                  6
23RD ST                 6
                       ..
MCDONOUGH BOULEVARD     1
MARTIN BOWER RD         1
MESQUITE HILL           1
KING AVE                1
104 COURT               1
EMERALD LAKE DR         1
BRYCE ST                1
RIVERMONT PKWY          1
MILWAUKEE AVE           1
SR-261                  1
CR-BRENWOOD DR          1
RUTH ANN DR             1
ROCK BLVD               1
130TH ST                1
TWEEDY RD               1
GREENBANK BLVD          1
PARKER RD               1
CORNELL DR              1
BROOKWOOD BLVD          1
SR-482                  1
CR-220                  1
JEFFERSON BLVD          1
US-20 CLEVELAND ST      1
SHOEMAKER RD            1
SAN MIGUEL AVE          1
SWAGER DR               1
W ARIZONA AVE           1
E WALNUT AVE            1
ST JOHNS AVE            1
NORTHFRONT RD           1
Name: TRAFFICWAY_IDENTIFIER_2, Length: 7869, dtype: int64

In [8]:
print(accident_data_2017['TRAFFICWAY_IDENTIFIER_2'].head(15))

0                NaN
1                NaN
2     CHANTILLY PKWY
3              AVE I
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12       PINEDALE RD
13            CR-598
14               NaN
Name: TRAFFICWAY_IDENTIFIER_2, dtype: object

In [9]:
accident_data_2017['STATE_NUMBER'].value_counts().count()

51

### <font color='darkblue'> Assign STATE_NAME to STATE_CODE</font>

In [19]:
#Sort Values 
accident_data_2017 = accident_data_2017.sort_values(by=['STATE_NUMBER','CONSECUTIVE_NUMBER'])

# Creating DataFrames based on crash elements data

xls = pd.ExcelFile('Crash_Elements.xlsx')
df_state_names = pd.read_excel(xls, 'FRPP_GLC_UnitedStates')
df_land_use = pd.read_excel(xls, 'land_use')
df_func_sys = pd.read_excel(xls, 'functional_system')
df_ownership = pd.read_excel(xls, 'ownership')
df_route_signing = pd.read_excel(xls, 'route_signing')
df_special_jury = pd.read_excel(xls, 'special_jurisdiction')
df_first_harmful_event = pd.read_excel(xls, 'first_harmful_event')
df_manner_of_collision = pd.read_excel(xls, 'manner_of_collision')
df_junction_loc = pd.read_excel(xls, 'junction_specific_location')
df_intersection = pd.read_excel(xls, 'type_of_intersection')
df_work_zone = pd.read_excel(xls, 'work_zone')

In [14]:
print(df_state_names.shape)
print(df_state_names.dtypes)
df_state_names.columns = ['STATE_NAME','STATE_NUMBER']
df_state_names.head(10)

(51, 2)
State_Name    object
State_Code     int64
dtype: object

             STATE_NAME  STATE_NUMBER
0               ALABAMA             1
1                ALASKA             2
2               ARIZONA             4
3              ARKANSAS             5
4            CALIFORNIA             6
5              COLORADO             8
6           CONNECTICUT             9
7              DELAWARE            10
8  DISTRICT OF COLUMBIA            11
9               FLORIDA            12

In [15]:
df_new = pd.merge(accident_data_2017, df_state_names, on='STATE_NUMBER')
df_new.STATE_NAME.unique()
# df_new.to_csv('State_Names_Added.xlsx')

array(['ALABAMA', 'ALASKA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DELAWARE', 'DISTRICT OF COLUMBIA',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MARYLAND',
       'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA', 'MISSISSIPPI',
       'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEVADA', 'NEW HAMPSHIRE',
       'NEW JERSEY', 'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE',
       'TEXAS', 'UTAH', 'VERMONT', 'VIRGINIA', 'WASHINGTON',
       'WEST VIRGINIA', 'WISCONSIN', 'WYOMING'], dtype=object)

### <font color='darkblue'> Assign LAND_USE_NAME to LAND_USE codes </font>

In [22]:

#Format Conversion
# df_land_use['LAND_USE'] = df_land_use['LAND_USE'].astype('int64')
print(df_land_use.dtypes)
#Merge Data
df_new_2 = pd.merge(df_new, df_land_use, on='LAND_USE')
df_new_2.LAND_USE_NAME.unique()

LAND_USE          int64
LAND_USE_NAME    object
dtype: object

array(['Urban', 'Rural', 'Unknown', 'Not Reported',
       'Trafficway Not in State Inventory'], dtype=object)

### <font color='darkblue'> Assign FUNCTIONAL_SYSTEM_NAME to FUNCTIONAL_SYSTEM codes</font>

In [23]:

#Format conversion
df_func_sys['FUNCTIONAL_SYSTEM'] = df_func_sys['FUNCTIONAL_SYSTEM'].astype('int64')
print(df_func_sys.dtypes)
df_new_3 = pd.merge(df_new_2, df_func_sys, on='FUNCTIONAL_SYSTEM')
df_new_3.FUNCTIONAL_SYSTEM_NAME.unique()

FUNCTIONAL_SYSTEM          int64
FUNCTIONAL_SYSTEM_NAME    object
dtype: object

array(['Interstate', 'Minor Arterial', 'Major Collector',
       'Principal Arterial – Other', 'Local',
       'Principal Arterial – Other Freeways and Expressways',
       'Minor Collector', 'Not Reported', 'Unknown',
       'Trafficway Not in State Inventory'], dtype=object)

### <font color='darkblue'> Assign OWNERSHIP_NAME to OWNERSHIP codes</font>

In [25]:
#Format conversion
df_ownership['OWNERSHIP'] = df_ownership['OWNERSHIP'].astype('int64')
print(df_ownership.dtypes)
#Merge
df_new_4 = pd.merge(df_new_3, df_ownership, on='OWNERSHIP')
df_new_4.OWNERSHIP_NAME.unique()

OWNERSHIP          int64
OWNERSHIP_NAME    object
dtype: object

array(['State Highway Agency', 'State Toll Road',
       'City or Municipal Highway Agency', 'County Highway Agency',
       'Not Reported', 'Bureau of Indian Affairs', 'Other Federal Agency',
       'Town or Township Highway Agency', 'National Park Service',
       'State Park, Forest or Reservation Agency', 'Unknown', 'Army',
       'Railroad', 'U.S. Forest Service', 'Indian Tribe Nation',
       'Other State Agency', 'Private (other than Railroad)',
       'Local Toll Authority', 'Other Local Agency',
       'Other Public Instrumentality (i.e., Airport)',
       'Bureau of Land Management',
       'Local Park, Forest or Reservation Agency',
       'Bureau of Fish and Wildlife', 'Trafficway Not in State Inventory'],
      dtype=object)

In [31]:
#Format conversion
df_route_signing['ROUTE_SIGNING'] = df_route_signing['ROUTE_SIGNING'].astype('int64')
print(df_route_signing.dtypes)
#Merge
df_new_5 = pd.merge(df_new_4, df_route_signing, on='ROUTE_SIGNING')
df_new_5.ROUTE_SIGNING_NAME.unique()

ROUTE_SIGNING          int64
ROUTE_SIGNING_NAME    object
dtype: object

array(['Interstate', 'U.S. Highway', 'State Highway',
       'Local Street - Frontage Road', 'County Road',
       'Local Street - Municipality', 'Other', 'Local Street - Township',
       'Unknown'], dtype=object)

In [35]:
# SPECIAL_JURISDICTION
#Format conversion
df_special_jury['SPECIAL_JURISDICTION'] = df_special_jury['SPECIAL_JURISDICTION'].astype('int64')
print(df_special_jury.dtypes)
#Merge
df_new_6 = pd.merge(df_new_5, df_special_jury, on='SPECIAL_JURISDICTION')
df_new_6.SPECIAL_JURISDICTION_NAME.unique()


# FIRST_HARMFUL_EVENT
#Format conversion
df_first_harmful_event['FIRST_HARMFUL_EVENT'] = df_first_harmful_event['FIRST_HARMFUL_EVENT'].astype('int64')
print(df_first_harmful_event.dtypes)
#Merge
df_new_7 = pd.merge(df_new_6, df_first_harmful_event, on='FIRST_HARMFUL_EVENT')
df_new_7.FIRST_HARMFUL_EVENT_NAME.unique()
df_new_7.FIRST_HARMFUL_EVENT_TYPE.unique()


# MANNER_OF_COLLISION
#Format conversion
df_manner_of_collision['MANNER_OF_COLLISION'] = df_manner_of_collision['MANNER_OF_COLLISION'].astype('int64')
print(df_manner_of_collision.dtypes)
#Merge
df_new_8 = pd.merge(df_new_7, df_manner_of_collision, on='MANNER_OF_COLLISION')
df_new_8.MANNER_OF_COLLISION_NAME.unique()

SPECIAL_JURISDICTION          int64
SPECIAL_JURISDICTION_NAME    object
dtype: object
FIRST_HARMFUL_EVENT          int64
FIRST_HARMFUL_EVENT_NAME    object
FIRST_HARMFUL_EVENT_TYPE    object
dtype: object
MANNER_OF_COLLISION          int64
MANNER_OF_COLLISION_NAME    object
dtype: object

array(['Not a Collision with a Motor Vehicle In-Transport', 'Other',
       'Front-to-Rear', 'Front-to-Front', 'Sideswipe-Same Direction',
       'Angle', 'Unknown', 'Rear-to-Side', 'Not Reported',
       'Sideswipe-Opposite Direction', 'Rear-to-Rear'], dtype=object)